html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}
  
body {
    background-image: url("https://i.pinimg.com/736x/96/a0/32/96a032da7bab3739bd54e0499a1a1d2c.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}


p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 50;}

h1, h2, h3, h7, h8, h9, h10, h11
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}
  
  h1, h2, h3, h4, h5, h6,  
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h2, h9, h10
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #B48A7C;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6, 
{ color: #B48A7C;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6, 
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #B48A7C;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #000;
  border-bottom: 1px solid #3d3d3d;
  height: 186px;}
  
#banner
{  background: transparent url(banner.jpg) no-repeat;
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}

#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: #1d1d1d;}
